<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Categorías
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="goToTasks()">
        Tareas
        <ion-icon slot="end" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <ion-list>
      @if (categoryService.allCategories().length == 0) {
      <div style="text-align: center;">
        <ion-text color="primary">
          <h3>No hay categorias. ¡Crea la primera!</h3>
        </ion-text>
        <ion-button shape="round" (click)="addCategory()">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Crear
        </ion-button>
      </div>
      } @else {
      @for (category of categoryService.allCategories(); track category.id) {
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{category.title}}</h2>
          </ion-label>
          <div class="color" [style.background]="category.color"></div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="edit(category)" title="Editar">
            <ion-icon name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteById(category)" title="Eliminar">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      }
      }
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCategory()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>