<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Mis tareas
        </ion-title>
        @if (activeCategories) {
        <ion-buttons slot="primary">
            <ion-button fill="outline" (click)="goToCategories()">
                Categorias
                <ion-icon slot="end" name="albums-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        }
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-container">
        <ion-searchbar placeholder="Buscar tarea" [value]="taskService.search()"
            (ionInput)="addSearch($event.detail.value ?? '')"></ion-searchbar>
        @if (activeCategories) {
        <ion-item>
            <ion-select label="Categoría" [value]="taskService.selectedCategory()"
                (ionChange)="selectedCategory($event.detail.value)">
                <ion-select-option [value]="null">Todas las categorias</ion-select-option>
                @for (category of categoryService.allCategories(); track category) {
                <ion-select-option [value]="category.id">
                    {{category.title}}
                </ion-select-option>
                }
            </ion-select>
        </ion-item>
        }
        @if (taskService.filteredTasks().length == 0) {
        <div style="text-align: center;">
            <ion-text color="primary">
                <h3>No hay tareas con los filtros indicados</h3>
            </ion-text>
            <ion-button shape="round" (click)="addTask()">
                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                Crear nueva
            </ion-button>
        </div>
        } @else {
        <ion-list>
            @for (task of taskService.filteredTasks(); track task.id) {
            <ion-item-sliding>
                <ion-item>
                    <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="toggleCompleted(task)">
                    </ion-checkbox>
                    <ion-label>
                        <h2>{{task.title}} </h2>
                        @let category = categoryService.getById(task.categoryId ?? '');
                        @if (category && activeCategories) {
                        <div style="display: flex; align-items: center; gap: 5px;">
                            <ion-icon slot="start" name="pricetag-outline" [color]="category.color"></ion-icon>
                            <ion-note [color]="category?.color">{{category.title}}</ion-note>
                        </div>
                        }
                    </ion-label>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="primary" (click)="edit(task)" title="Editar">
                        <ion-icon name="create"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="deleteById(task)" title="Eliminar">
                        <ion-icon name="trash"> </ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            }
        </ion-list>
        }
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button (click)="addTask()">
                <ion-icon name="add"> </ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>